#wpadminbar #wp-admin-bar-wp-logo .ab-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

#xaaser_dashboard_widget .inside {
    max-height: 500px;
    overflow-y: auto;
}